h4, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

html {
    font-family: "Open Sans", "Roboto", tahoma, verdana, futura, helvetica, sans-serif;
    font-size: 10px;
}

#wrapper {
    width: 80rem;
    margin: 0 auto;
    font-size: 1.3rem;
}

.padding {
    padding: 1.5rem;
}

header, footer, .sub-menu,  .paging ul a, .ad, form {
    border:solid 1px #507E32;
    background-color: #A9D18E;
}

header, footer {
    text-align: center;
    padding: 0.5rem;
}

header {
    font-size: 1.6rem;
}

footer {
    font-size: 1.2rem;
}

.main-menu {
    margin-right: 1.5rem;
}

nav .sub-menu {
    width: 10rem;
    margin-bottom: 1.5rem;
}

.sub-menu {
    width: 10rem;
    margin-bottom: 1.5rem;
}

.main-menu, aside, main, main > div, .paging ul li, .ad .image,
.ad > div > *, .ad section, .ad section div span {
    display: inline-block;
    vertical-align: top;
}

.sub-menu h4, .login h4, .register h4 {
    text-align: center;
}

.sub-menu ul li a{
    width: 95%;
    color: #000;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 0.5rem;
    display: inline-block;
}

.sub-menu ul li a.pressButton{
    background-color: #DAA600;
    border: #7F6000 1px solid;
}

.button {
    width: 8rem;
    text-decoration: none;
    background-color: #70AD47;
    color: #fff;
    border: #61973D 1px solid;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.paging {
    text-align: center;
}

.paging ul a {
    color: #000;
    text-decoration: none;
    padding: 5px;
    min-width: 2rem;
    display: block;
}

.paging ul a.current-page {
    background-color: #548235;
    color: #fff;
}

.ad {
    width: 45rem;
    margin-bottom: 1.5rem;
}

.ad .title {
    width: 70%;
}

.ad .date {
    width: 29%;
    text-align: right;
}

.ad .image {
    width: 11rem;
}

.ad section {
    width: 33.5rem;
}

.ad .image img {
    width: 100%;
    border: 1px solid #649B3F;
}

.ad .content {
    background-color: #C5E0B4;
    color: #000;
    border: 1px solid #649B3F;
    overflow: hidden;
    word-wrap: break-word;
}

.padding05 {
    padding: 0.5rem;
}

.ad div span:first-of-type {
    width: 3rem;
    text-align: right;
}

.ad div span:last-of-type {
    width: 28.34rem;
}

.main-menu .sub-menu *, .ad *, .login form input,
.register form input{
    margin-bottom: 0.5rem;
}

.login, .register{
    width: 61rem;
}

.login form {
    width: 30rem;
    margin: 0 auto;
}

.register form {
    width: 35rem;
    margin: 0 auto;
}

.login input, .login label {
    display: block;
    width: 28rem;
    margin: auto;
}

.register input, .register label {
     display: inline-block;
     width: 15.4rem;
     margin: auto;
 }

.login .button, .register .button {
    margin-top: 0.5rem;
}

form a {
    float: right;
}

.message {
    text-align: center;
    width: 80%;
    border: 1px solid #843C0C;
    margin: auto;
    margin-bottom: 2rem;
}

.info-message {
    background-color: #C5E0B4;
    color: #000;
}

.error-message {
    background-color: #EC795A;
    color: #fff;
}

a.link {
    text-decoration: dotted;
    color: #3275B2;
    margin-left: 2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.user-area {
    float: right;
    font-size: 1.3rem;
}