<!doctype html>
<html lang="en" ng-app="adsApp">
<head>
    <meta charset="utf-8">
    <title>Ads</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div id="wrapper" ng-controller="MainController" >
    <header>
        {{pageTitle}}
        <div ng-if="user" class="user-area">
            <span>{{user.username}}</span>
            <a ng-click="logout()" class="link">Logout</a>
        </div>
    </header>
    <div class="padding" >
        <nav class="main-menu" ng-include="navigationTemplate"></nav>
        <main ng-view>
        </main>
    </div>
    <footer>© 2014 by Software University Foundation, No Rights Reserved</footer>
</div>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="js/app.js"></script>

<script src="js/services/pageOptions.js"></script>
<script src="js/services/ads-data.js"></script>
<script src="js/services/categories-data.js"></script>
<script src="js/services/towns-data.js"></script>
<script src="js/services/filter-data.js"></script>
<script src="js/services/user-data.js"></script>
<script src="js/services/message-data.js"></script>

<script src="js/controllers/main-controller.js"></script>
<script src="js/controllers/route-controller.js"></script>
<script src="js/controllers/ads-controller.js"></script>
<script src="js/controllers/categories-controller.js"></script>
<script src="js/controllers/towns-controller.js"></script>
<script src="js/controllers/paging-controller.js"></script>
<script src="js/controllers/login-controller.js"></script>
<script src="js/controllers/register-controller.js"></script>

<script src="js/directives/categories.js"></script>
<script src="js/directives/towns.js"></script>
<script src="js/directives/message.js"></script>
</body>
</html>
