<div class="sub-menu padding">
    <h4>Navigation</h4>
    <hr/>
    <ul>
        <li><a href="#/" class="pressButton" ng-click="resetFilterData()">Home</a></li>
        <li><a href="#/my-ads" class="pressButton" ng-click="resetFilterData()">My Ads</a></li>
        <li><a href="#/publish-new-ad" class="pressButton" ng-click="resetFilterData()">Publish New Ad</a></li>
        <li><a href="#/edit-profile" class="pressButton" ng-click="resetFilterData()">Edit Profile</a></li>
    </ul>
</div>