<div ng-controller="NavigationController">
<div class="sub-menu padding" >
    <h4>Navigation</h4>
    <hr/>
    <ul>
        <li><a href="#/" ng-class="{'pressButton' : choiceItem == 0}" ng-click="resetFilterData(); setChoiceItem(0)">Home</a></li>
        <li><a href="#/user/ads"  ng-class="{'pressButton' : choiceItem == 1}" ng-click="setChoiceItem(1)">My Ads</a></li>
        <li><a href="#/publish-new-ad" ng-class="{'pressButton' : choiceItem == 2}" ng-click="setChoiceItem(2)">Publish New Ad</a></li>
        <li><a href="#/edit-profile" ng-class="{'pressButton' : choiceItem == 3}" ng-click="setChoiceItem(3)">Edit Profile</a></li>
    </ul>
</div>

<div class="sub-menu padding" ng-if="choiceItem == 1">
    <h4>My Ads</h4>
    <hr/>
    <ul>
        <li><a href="#/user/ads" ng-class="{'pressButton' : choiceMyAdsItem == 0}" ng-click="resetFilterData(); setChoiceMyAdsItem(0)">All</a></li>
        <li><a href="#/user/ads/1"  ng-class="{'pressButton' : choiceMyAdsItem == 1}" ng-click="setChoiceMyAdsItem(1)">Published</a></li>
        <li><a href="#/user/ads/2" ng-class="{'pressButton' : choiceMyAdsItem == 2}" ng-click="setChoiceMyAdsItem(2)">Waiting Approval</a></li>
        <li><a href="#/user/ads/3" ng-class="{'pressButton' : choiceMyAdsItem == 3}" ng-click="setChoiceMyAdsItem(3)">Inactive</a></li>
        <li><a href="#/user/ads/4" ng-class="{'pressButton' : choiceMyAdsItem == 4}" ng-click="setChoiceMyAdsItem(4)">Rejected</a></li>
    </ul>
</div>
</div>