<div ng-controller="NavigationController">
<div class="sub-menu padding" >
    <h4>Navigation</h4>
    <hr/>
    <ul>
        <li><a href="#/" ng-class="{'pressButton' : choiceItem == 0}" ng-click="resetFilterData(); setChoiceItem(0)">Home</a></li>
        <li><a href="#/user/ads"  ng-class="{'pressButton' : choiceItem == 1}" ng-click="setChoiceItem(1)">My Ads</a></li>
        <li><a href="#/user/publish-new-ad" ng-class="{'pressButton' : choiceItem == 2}" ng-click="setChoiceItem(2)">Publish New Ad</a></li>
        <li><a href="#/user/edit-profile" ng-class="{'pressButton' : choiceItem == 3}" ng-click="setChoiceItem(3)">Edit Profile</a></li>
    </ul>
</div>

<div class="sub-menu padding" ng-if="choiceItem == 1">
    <h4>My Ads</h4>
    <hr/>
    <ul>
        <li><a href="#/user/ads/-1" ng-class="{'pressButton' : statusId == -1}" ng-click="resetFilterData(); setStatus(-1)">All</a></li>
        <li><a href="#/user/ads/2"  ng-class="{'pressButton' : statusId == 2}" ng-click="setStatus(2)">Published</a></li>
        <li><a href="#/user/ads/1" ng-class="{'pressButton' : statusId == 1}" ng-click="setStatus(1)">Waiting Approval</a></li>
        <li><a href="#/user/ads/0" ng-class="{'pressButton' : statusId == 0}" ng-click="setStatus(0)">Inactive</a></li>
        <li><a href="#/user/ads/3" ng-class="{'pressButton' : statusId == 3}" ng-click="setStatus(3)">Rejected</a></li>
    </ul>
</div>
</div>